{% extends 'management/base.html' %}

{% block content %}
<div class="col-sm-4">
  <!-- CARD STOCK REGISTER -->
  <div class="card ">
    <div class="card-inner">
      <div class="header">
        <h3>Registrar en Stock</h3>
      </div>
      <div class="content">
        <p>
        <form action="http://127.0.0.1:8000/management/stock_register/" method="post" id="form_register">
          {% csrf_token%}
          <br />
          <label for="">Factura</label>
          <select name="factura" id="product_list" onchange="ShowSelected()">
            {% for purchase in all_purchases %}
            <option value="{{ purchase.purchase_id }}">
              {{ purchase.factura }}
            </option>
            {% endfor %}
          </select>
          <!-- <br /><br /><br /> -->
          <label for="">Producto</label>
          <select name="product" id="product_list" onchange="ShowSelected()">
            {% for product in all_products %}
            <option value="{{ product.product_id }}">
              {{ product.name_product }}
            </option>
            {% endfor %}
          </select>
          <!-- <br /><br /><br /> -->

          <label for="">Precio de compra</label>
          <input type="number" name="purchase_price" min="0" required />

          <br /><br /><br />

          <label for="">Precio de venta</label>
          <input type="number" name="sales_price" min="0" required />

          <br /><br /><br />

          <label for="">Cantidad</label>
          <input type="number" name="amount" min="0" required />

          <button type="submit" class="gradient-custom-2">Registrar en Stock</button>
        </form>
        </p>
      </div>
    </div>

  </div>
</div>
{% endblock %}